* {
  margin : 0 ;
  padding: 0 ;
  font-family: Benguiat;
}
@font-face {
  font-family: Benguiat;
  src: url(assets/ITC\ Benguiat\ Book.ttf);
}
body{
  background-color: rgba(201,201,201,1);
}
h1{
text-align: center;
margin-top: 30px ;
}
h2{
  text-align: center;
  margin-bottom: 2rem;
  padding-top: 3rem;
}
p {
  text-align: center;
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
} 

.button1 {  
  background-color: black; 
  color: white; 
  border: 2px solid lightgray;
}

.button1:hover {
  background-color: gray;
  color: white;
}
.hide{
  display: none;
}
.hidden{  
  display: none;
}
.visible{
  display: block;
}

.center-pls{
  display: flex;
  justify-content: center;
}
.video-flex{
  display: flex;
 justify-content: space-evenly;
}
.images-background{
  background: rgb(17,17,17);
  background: linear-gradient(180deg, rgba(17,17,17,1) 17%, rgba(136,100,66,1) 35%);
}
.video-background{
  background: rgb(136,100,66);
  background: linear-gradient(180deg, rgba(136,100,66,1) 0%, rgba(17,17,17,1) 7%);
  color:white;
}
.spoiler-background{
  background: rgb(17,17,17);
  background: linear-gradient(180deg, rgba(17,17,17,1) 0%, rgba(201,201,201,1) 20%);
}