h1{
    text-align: center;
    }
h2{
    text-align: left;
    margin-left: 3%;
    }
p{
    text-align: center;
    color: darkgrey;
    }
.hero-part {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3fr 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
.hero-div1 { 
    grid-area: 1 / 1 / 2 / 3;
    position: relative;
    text-align: center;

    }

.centered {
    position: absolute;
    bottom : 8px;
    right:8px;
    left:8px;
    color:white;
  }

.hero-div2 {
        grid-area: 2 / 1 / 3 / 2; 
    }

.hero-div3 {
    grid-area: 2 / 2 / 3 / 3; 
    }

.main-article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
.main-div1 { 
        grid-area: 1 / 1 / 2 / 4; 
    }

.main-div2 { 
        grid-area: 2 / 1 / 3 / 2; 
    }

.main-div3 { 
        grid-area: 2 / 2 / 3 / 3; 
    }

.main-div4 { 
        grid-area: 2 / 3 / 3 / 4; 
    }

.mini-article {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr 10fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
        
.mini-div1 { grid-area: 1 / 1 / 2 / 5; }
.mini-div2 { grid-area: 2 / 1 / 3 / 2; }
.mini-div3 { grid-area: 2 / 2 / 3 / 3; }
.mini-div4 { grid-area: 2 / 3 / 3 / 4; }
.mini-div5 { grid-area: 2 / 4 / 3 / 5; }
.mini-div6 { grid-area: 3 / 1 / 4 / 2; }
.mini-div7 { grid-area: 3 / 2 / 4 / 3; }
.mini-div8 { grid-area: 3 / 3 / 4 / 4; }
.mini-div9 { grid-area: 3 / 4 / 4 / 5; }